
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row w-100">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
        <p class="mb-5 text-center">
          <i class="text-info font-weight-bold"> {{ count }}</i> items in your
          cart
        </p>
        <table
          id="shoppingCart"
          class="table table-condensed table-responsive"
          *ngFor="let prod of products; let i = index"
        >
          <thead>
            <tr>
              <th style="width: 60%">{{ prod.title }}</th>
              <th style="width: 12%">{{ prod.price }}</th>
              <th style="width: 10%">Quantity</th>
              <th style="width: 16%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <img
                      src="{{ prod.category.image }}"
                      alt=""
                      class="img-fluid d-none d-md-block rounded mb-2 shadow"
                    />
                  </div>
                  <div class="col-md-9 text-left mt-sm-2">
                    <h4>{{ prod.title }}</h4>
                    <p class="font-weight-light">{{ prod.description }}</p>
                  </div>
                </div>
              </td>
              <td data-th="Price">{{ prod.price }}</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control form-control-lg text-center"
                  name="quantity"
                  [(ngModel)]="prod.quantity"
                  (change)="calcTotals()"
                />
              </td>
              <td class="actions" data-th="">
                <div class="text-right">
                  <button
                    class="btn btn-white border-secondary bg-white btn-md mb-2"
                  >
                    <i class="fas fa-sync"></i>
                  </button>
                  <button
                    class="btn btn-white border-secondary bg-white btn-md mb-2"
                  >
                    <i class="fas fa-trash" (click)="removeFromCart(i)"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-right text-right">
          <h4>Subtotal:</h4>
          <h1>${{ totals }}</h1>
        </div>
      </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
      <div class="col-sm-6 order-md-2 text-right">
        <a
          routerLink="/"
          class="btn btn-primary mb-4 btn-lg pl-5 pr-5"
          (click)="emptythewholearray()"
          *ngIf="this.products.length > 0"
          >Empty your Cart
        </a>
      </div>
    </div>
  </div>
</section>
 
