<div class="container py-5">
  <section class="wrapper" *ngFor="let products of homeProducts; let i = index">
    <div class="container-fostrap">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <a
                  class="img-card"
                  href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                >
                  <img src="{{ products.category.image }}" />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a
                      href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                    >
                      {{ products.title }}
                    </a>
                  </h4>
                  <p class="">
                    {{ products.description }}
                  </p>

                  <p>
                    $ <strong> {{ products.price }} </strong>
                  </p>
                  <div class="rate">
                    <input
                      type="radio"
                      id="star5{{ i }}"
                      name="rate"
                      value="5"
                    />
                    <label for="star5" title="text">5 stars</label>
                    <input
                      type="radio"
                      id="star4{{ i }}"
                      name="rate"
                      value="4"
                    />
                    <label for="star4" title="text">4 stars</label>
                    <input
                      type="radio"
                      id="star3{{ i }}"
                      name="rate"
                      value="3"
                    />
                    <label for="star3" title="text">3 stars</label>
                    <input
                      type="radio"
                      id="star2{{ i }}"
                      name="rate"
                      value="2"
                    />
                    <label for="star2" title="text">2 stars</label>
                    <input
                      type="radio"
                      id="star1{{ i }}"
                      name="rate"
                      value="1"
                    />
                    <label for="star1" title="text">1 star</label>
                  </div>
                </div>
                <div class="card-read-more">
                  <button
                    class="btn"
                    style="color: black; font-size: 20px; font-weight: 600"
                    (click)="addToCart(products)"
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
