<!-- <section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle"></h1>

		<article class="postcard white">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{{selectproduct.image}}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">{{selectproduct.title}}</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{selectproduct.description}}</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>{{selectproduct.price}}</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>{{selectproduct.category}}</li>
				</ul>
				<button class="btn btn-primary btn-lg" style="width: 200px;" (click)="addToCartselectproduct()">Add To Cart</button>
			</div>
		</article>
	</div>
</section> -->

<div class="container d-flex justify-content-center">
     <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img src="{{selectproduct.image}}"> </a>
         <figcaption class="info-wrap">
             <div class="row">
                 <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{selectproduct.title}}</a> <span class="rated" style="font-size: 15px;"> {{selectproduct.description}}</span> </div>
                 <div class="col-md-3 col-xs-3">
                     <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                 </div>
             </div>
         </figcaption>
         <div class="bottom-wrap-payment">
             <figcaption class="info-wrap">
                 <div class="row">
                     <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true"><strong>$</strong>{{selectproduct.price}}</a> <span class="rated">VISA Platinum</span> </div>
                     <div class="col-md-3 col-xs-3">
                         <div class="rating text-right"> #### 8787 </div>
                     </div>
                 </div>
             </figcaption>
         </div>
         <div class="bottom-wrap"  (click)="addToCartselectproduct()"> <a  class="btn btn-primary float-right" data-abc="true" > Buy now </a>
             <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"> Cancel </a> </div>
         </div>
     </figure>
 </div>