.dot {
    position: absolute;
    top: 33px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:13px;
    left: 12px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 5px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

/* In your component's CSS file */
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

 .product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .product-list li {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .product-details {
    display: flex;
    align-items: center;
  }

  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }

  .product-info {
    flex: 1;
  }

  .product-name {
    font-weight: bold;
  }

  .product-description {
    color: #666;
    margin-bottom: 5px;
  }

  .product-price {
    font-weight: bold;
    color: #008000;
  }
